*{ 
	margin: 0; /* Universiell förhållanden för hela sidan, ska underlätta bootstrap förutsatta mått */
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}



abbr{
    border-width:0px; /*Detta gäller för info Contact us sidan, Ger text en förklaring */
    font-weight:bold;
    text-decoration:none;
 }

.about{    /*Contact us sidans titel*/
text-align: center;
padding-top: 20px;
}

.info{    /*h2 och dess centrering */
text-align: center;
padding-top: 20px;

}

.contact-box{   /*Själva huvudelen av sidan, som innehåller info-box */
border-top:solid thin black;
width:100%;
height:900px;
background-color:rgba(0, 0, 0, 0.5);
}
.info-box{ /*div som innehåller allt text på contact sidan */
margin:20px;
width:97.6%;
height:880px;
border-left:solid thin black;
border-right:solid thin black;

}

.forum{ /*Den lilla rutan under bildspelet, här skulle det kopplas till ett Live-forum */
background-color:rgba(0, 0, 0, 0.5);
height:100px;
width:100%;
}

.search-btn{  /*Sök knappen */
	outline: none;
	position: relative;
}

::placeholder { /*Snyggar till all text inne på form, för ex "email" */
	color: black;
	opacity: 1;
  }
  
#login-form{ /*Login delen utav formen */
	
	display: none;
	margin-left: auto;
	margin-right: auto;
}
.form-box{ /*Själva rutan som innehåller login och register */
	background-color:rgba(0, 0, 0, 0.5);
	width: 380px;
	height:550px;
	position: relative;
	margin:2% auto;
	opacity: .8;
	overflow:hidden;
}
.button-box{ /* Rutan där knappen Log in och Register befinner sig */
	width:220px;
	margin:35px auto;
	position: relative;
	border-radius: 30px;
}
.toggle-btn{ /*knapparna för login och register */
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #F3C693;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login /* Under lyder css för alla delar uta log in och register formen*/
{
	
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
	
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	
	color:black;
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:black;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	
	font-size:15px;
}
#register
{
	left:450px;
}
#register input
{
	
	font-size: 15px;
}
/*Allt för Log in Formen slutar här*/

.nav-link{ /*Under är css koden för Hela nav baren, inkluderar kod för knappar och strukturen på den övre gåra rutan */
	color: black;
    text-decoration: none;
    background-color: transparent;
}


.navbar{
	background-color:rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	z-index: 99999;
	padding:25px 0;
}

.navbar .logo{ /*css för logga */
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 750;
    letter-spacing: 2px;
    background:#000;
}

.navbar ul.nav{
	margin-right: 15%;
}
.navbar ul.nav li.active, /*Fixar hover för knapparna samt sätter en på active */
.navbar ul.nav li:hover{
	background:rgba(255, 255, 255, 0.5);
	color: #000;

}
.navbar ul.nav li a{
	
    font-size: 1em;
	font-weight: 500;
}
.navbar ul.nav li.active a,
.navbar ul.nav li:hover a{
	background-color: rgb(174, 184, 184);
}
.navbar ul.nav li button{
	padding: .5rem 1rem;
	outline:none;
	border:none;
	background:transparent;
	cursor: pointer;	
	font-size: 1em;
	font-weight: 500;
}
.navbar ul.nav li button:hover{
	background-color:rgb(174, 184, 184) ;
}

/*slider, under är css för Carousel och dess olika funktioner*/
#carousel{
	position: relative;
	height: 100vh;
	width: 100%;
}
#carousel .carousel-inner{ /*innehållet för carousel */
	position: relative;
	height: 100%;
	width: 100%;
	background: #000;
}
#carousel .carousel-inner:before{ /*Före, inann den byter bild */
	position: absolute;
	content: '';
	background: rgba(0, 0, 0, 0.45);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
#carousel .carousel-inner .carousel-item{ /*Kombinerar inner med item där vi sedan lägger in bild */
	position: relative;
	height: 100%;
	width:100%;
	background-image: url('bilder/bild1.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carousel .carousel-inner .carousel-item:nth-child(2){ /*Child 2 samma som för övre och blir då den andra bilden */
	background-image: url('bilder/bild2.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carousel .carousel-inner .carousel-item:nth-child(3){ /*child 3 och är samma som för de övre fast den sista bilden */
	background-image: url('bilder/bild3.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}

#carousel .carousel-inner .carousel-item .info{ /*Rutan för text samt hela elementet*/
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: auto;
	width: 100%;
	z-index: 1;
	text-align: center;
}
#carousel .carousel-inner .carousel-item h1{ /*De olika titlarna på bilderna  */
	height: auto;
	color:rgb(211, 204, 204);
	font-family:Garamond;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 5.5em;
	font-weight: 750;
}
#carousel .carousel-inner .carousel-item p{ /*kraven för texten på varje bild */
	height: auto;
	color: #ccc;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
}