*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
.forum{
background-color:rgba(0, 0, 0, 0.5);
height:500px;
width:100%;
}
.search-btn{
	outline: none;
	position: relative;
}

::placeholder {
	color: black;
	opacity: 1;
  }
  
#login-form{
	
	display: none;
	margin-left: auto;
	margin-right: auto;
}
.form-box{
	background-color:rgba(0, 0, 0, 0.5);
	width: 380px;
	height:480px;
	position: relative;
	margin:2% auto;
	opacity: .8;
	overflow:hidden;
}
.button-box{
	width:220px;
	margin:35px auto;
	position: relative;
	border-radius: 30px;
}
.toggle-btn{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #F3C693;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
	
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	
	color:black;
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:black;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	
	font-size:15px;
}
#register
{
	left:450px;
}
#register input
{
	
	font-size: 15px;
}


.nav-link{
	color: black;
    text-decoration: none;
    background-color: transparent;
}


.navbar{
	background-color:rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	z-index: 99999;
	padding:25px 0;
}

.navbar .logo{
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 750;
    letter-spacing: 2px;
    background:#000;
}

.navbar ul.nav{
	margin-right: 15%;
}
.navbar ul.nav li.active,
.navbar ul.nav li:hover{
	background:rgba(255, 255, 255, 0.5);
	color: #000;

}
.navbar ul.nav li a{
	
    font-size: 1em;
	font-weight: 500;
}
.navbar ul.nav li.active a,
.navbar ul.nav li:hover a{
	background-color: rgb(174, 184, 184);
}
.navbar ul.nav li button{
	padding: .5rem 1rem;
	outline:none;
	border:none;
	background:transparent;
	cursor: pointer;	
	font-size: 1em;
	font-weight: 500;
}
.navbar ul.nav li button:hover{
	background-color:rgb(174, 184, 184) ;
}

/*slider*/
#carouselExampleIndicators{
	position: relative;
	height: 100vh;
	width: 100%;
}
#carouselExampleIndicators .carousel-inner{
	position: relative;
	height: 100%;
	width: 100%;
	background: #000;
}
#carouselExampleIndicators .carousel-inner:before{
	position: absolute;
	content: '';
	background: rgba(0, 0, 0, 0.45);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
#carouselExampleIndicators .carousel-inner .carousel-item{
	position: relative;
	height: 100%;
	width:100%;
	background-image: url('bilder/bild1.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2){
	background-image: url('bilder/bild2.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3){
	background-image: url('bilder/bild3.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}

#carouselExampleIndicators .carousel-inner .carousel-item .info{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: auto;
	width: 100%;
	z-index: 1;
	text-align: center;
}
#carouselExampleIndicators .carousel-inner .carousel-item h1{
	height: auto;
	color:rgb(211, 204, 204);
	font-family:Garamond;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 5.5em;
	font-weight: 750;
}
#carouselExampleIndicators .carousel-inner .carousel-item p{
	height: auto;
	color: #ccc;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
}